.base-button {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;

    box-shadow: 3px -3px 65px 38px rgba(0,0,0,0.34) inset;
    -webkit-box-shadow: 3px -3px 65px 38px rgba(0,0,0,0.34) inset;
    -moz-box-shadow: 3px -3px 65px 38px rgba(0,0,0,0.34) inset;

}

  .fancy-button {
    background-color: blue;
  }
  
  .fancy-button:hover {
    background-color: darkblue;
  }

  .fancy-button:active {
    background-color: red;
  }

  .scary-button {
    background-color: red;
  }
  
  .scary-button:hover {
    background-color: darkred;
  }

  .scary-button:active {
    background-color: green;
  }
